{% macro javascript() %}
<script src="{{ get_url(path="js/main.js") | safe }}" defer></script>
{% if config.build_search_index %}
  <script src="{{ get_url(path="plugins/elasticlunr.min.js") | safe }}" defer></script>
  <script src="{{ get_url(path="search_index." ~ config.default_language ~ ".js") | safe }}" defer></script>
  <script src="{{ get_url(path="js/search.js") | safe }}" defer></script>
{% endif %}
<script src="{{ get_url(path="js/bootstrap.bundle.min.js") | safe }}" defer></script>
{% endmacro %}
