{% extends "page.html" %}

{% block body %}
  {% set page_class = "docs single" %}
{% endblock body %}

{% block header %}
  {# This value is matched by the config.extra.menu.main~url #}
  {% set current_section = "publications" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row flex-xl-nowrap">
	  {{ macros_sidebar::docs_sidebar(current_section=current_section) }}
	  {{ macros_toc::docs_toc(page=page) }}
      <main class="docs-content col-lg-11 col-xl-9">
        {{ page.content | safe }}

        {% if page.extra.list %}
        <ul>
          {% for val in page.extra.list %}
          <li>{{val.author| safe}}.
              <b>{{ val.title| safe }}</b>.
              {{ val.type |  default(value="") }}
              {{ val.doi |  default(value="") }}
          </li>
          {% endfor %}
        <ul>
        {% else %}
        {% endif %}
      </main>
    </div>
  </div>
</div>
{% endblock content %}
